/* @theme Example1-theme */

@import 'default';

:root {
        --primary-color: #324a57;
        --secondary_color: #CCCCCC;
        --tertiary-color: #FFBD3E; 
}
 
h1{
        color:var(--primary-color);
}

h3 { 
        color:var(--secondary_color)
}
 
h4{
        color:var(--tertiary-color)
}

