/* @theme MarpTemplate-theme */

@import 'default';

:root {
        --primary-color: PColor
        --secondary_color: SColor
        --tertiary-color: TColor; 
}
 
h1{
        color:var(--primary-color);
}

h3 { 
        color:var(--secondary_color)
}
 
h4{
        color:var(--tertiary-color)
}

